
  <% if @search.params_query %>
  <div class="main">
    <h3>Search Results</h3>

    <div class="search-results">

      <% @search.create_recipes.each do |recipe| %>
      <div class="recipe">
        <div class="name">
          <%= link_to recipe.name, recipe.url %>
        </div>
        <div class="yield">
          Yield: <%= recipe.yield %>
        </div>
        <div class="calories">
          Calories: <%= recipe.calories %>
        </div>
        <div>Ingredients:</div>
        <ul class="ingredients">
          <% recipe.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>

    </div>
  </div>
  <% end %>


<div class="sidenav-left">

  <h3>Past Searches</h3>

  <table class="search-history">
    <tr>
      <th><%= sortable "name", "Search Term" %></th>
      <th><%= sortable "search_terms_count", "Count" %></th>
      <th><%= sortable "updated_at", "Date" %></th>
    </tr>
    <% @search.sorted.each do |query| %>
    <tr>
      <td><%= link_to query.name, {:query => query.name} %></td>
      <td><%= query.search_terms_count %></td>
      <td><%= query.updated_at.strftime("%b%e, %Y %I:%M%p") %></td>
    </tr>
    <% end %>
  </table>

</div>

<% if @search.query %>

  <div class="sidenav-right">

    <h3>This Query's Search History</h3>

    <% @search.query.search_terms.sort_date.each do |search_term| %>
      <p><%= search_term.created_at.strftime("%b%e, %Y %I:%M%p") %></p>
    <% end %>

  </div>

<% end %>
