<h3>What's for dinner?</h3>
<%= form_tag :root, method: :get do %>
  <div class="search-field">
    <%= text_field_tag :query, "", placeholder: "Search for Recipe" %>
    <%= submit_tag "Find Recipes"%>
  </div>
<% end %>

<h3>Search Results</h3>
<div class="search-results">

  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="name">
        <%= link_to recipe.name, recipe.url %>
      </div>
      <div class="yield">
        <%= recipe.yield %>
      </div>
      <div class="calories">
        <%= recipe.calories %>
      </div>
      <div class="ingredients">
        <% recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<h3>Past Searches</h3>

<table class="search-history">
  <tr>
    <th>Query</th>
    <th>Search Count</th>
    <th>Date Searched</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
